<mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{character.name.split(' ')[0]}}</mat-card-title>
      <mat-card-subtitle>{{(character.name.split(' ')[1] ? character.name.split(' ')[1] : 'Hofstadter') | uppercase  }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'http://82.165.96.74:1337' + character.picture.url" [alt]="character.name">
    <mat-card-content>
        <ul>
            <li><strong>Nbr season: </strong>{{character.nbrSeason}}</li>
            <li><strong>Created at: </strong>{{character.created_at }} ☞ {{ character.created_at | date:"dd/MM/yyyy" }}</li>
            <li><strong>Updated at: </strong>{{character.updated_at }} ☞ {{character.updated_at | date:"dd/MM/yyyy" }}</li>
            <li><strong>Published at: </strong>{{character.published_at }} ☞ {{character.published_at | date:"dd/MM/yyyy" }}</li>
        </ul>
    </mat-card-content>
</mat-card>